[2016-02-02 11:34] powerpaul17 opened #1 "Progress.. :)"
Hello! Sorry for starting this as an issue but I can't find a way to write messages to users on Github (maybe it doesn't exist..)

I found your repository for the P8 Lite yesterday and since I am also trying to compile a AOKP ROM for this device I wanted to ask if your device configuration is working. I also saw that you already included the Mali libraries, is this working too. So far I couldn't g

[2016-02-07 00:25] XePeleato commented on #1
Hi there, the build works, but the device won't boot to android due to some GPU issues that I am trying to fix.
As far as I can tell, the device configuration is fine, the current issue is with the Mali GPU, but the libs get loaded by the device.

Feel free to contribute, some help would be awesome!

[2016-02-07 03:33] concept0 commented on #1
Hello! I am very glad that you are working on CM for alel21. Can the USB Host / OTG support for him? Unfortunately I'm still a noob and cant do it myself. Sincerely, Alexander.

[2016-02-07 09:49] powerpaul17 commented on #1
Hey, thanks for the reply. I also have the same problem with the GPU, it seems to boot but the graphics do not get initialized.

Did you use a stock kernel? Maybe it has something to do with this, I am currently trying to compile the kernel too. I also wrote to someone on xda-developers who seems to have accomplished to compile the kernel.

[2016-02-07 09:55] XePeleato commented on #1
Well, first I am trying to get working pure Android, whenever that's done, I'll start with Cm.

[2016-02-07 09:57] XePeleato commented on #1
@powerpaul17 The kernel gets compiled from source, I am pushing that commit right now.

[2016-02-07 16:21] XePeleato commented on #1
@powerpaul17 I'd love to see your logcat output, mine is this

http://pastebin.com/iRMw1SBS

Is surfaceflinger also crashing on your end?

[2016-02-07 18:28] powerpaul17 commented on #1
sorry, I haven't saved the logcat, but it looks pretty much the same.. it also crashed at the same point with the same stacktrace. I also tried to use the surfaceflinger binary from the stock rom but then it doesn't even get started.

I start to believe it might have something to do with the kernel. Maybe the stock kernel is not compatible with AOSP, I am trying to compile the kernel from the sour

[2016-02-07 19:37] XePeleato commented on #1
I think I've reached a major milestone :P
![dsc00164](https://cloud.githubusercontent.com/assets/6912584/12874750/933cacbc-cdda-11e5-9476-dbaa7f33f748.JPG)

[2016-02-08 10:07] powerpaul17 commented on #1
Nice.. :) So is it booting? Did you manage to compile the kernel? I am still trying..

[2016-02-08 14:17] XePeleato commented on #1
@powerpaul17 It's almost booting. What's that kernel issue? Are you using Linaro toolchain?

[2016-02-08 14:56] powerpaul17 commented on #1
I am using the toolchain which gets compiled or prepared from the "repo" system (just started with Android development.. ;) ). The kernel finished compiling now using the sources from Huawei but I haven't tested yet. What are your boot issues?

[2016-02-08 15:51] XePeleato commented on #1
@powerpaul17 zygote is crashing, at least surfaceflinger loads properly, it looks like I'll need to change some libs.

[2016-02-21 01:55] hak86 opened #2 "Blobs.."
hi bro, are there a way to list the blobs used by the device, like extract-files.sh command..

[2016-03-04 10:37] olrak2 commented on #1
Any progress ?

thx in advance.

[2016-03-04 18:03] XePeleato commented on #1
@olrak2 Well, I have compiled the kernel succesfully, and now the "rom" itself is my obejctive, if there's any major progress I'll post it here or wherever I find it convenient.

Have a nice day!

[2016-03-06 20:38] XePeleato commented on #1
Just a quick update for those of you who are waiting, I have spent all of the weekend working on this, I have compiled more than 40 images so far just in the weekend, I have solved some issues but the rom is not finished yet. Now I am not stuck with the graphics system anymore, but there are more issues to fix, I won't surrender.

[2016-03-07 13:05] olrak2 commented on #1
Good luck with the problems :) I'm very glad you won't surrender.  We need a rom for our Little P8

[2016-03-07 18:26] XePeleato commented on #1
Alright, got it, the rom boots to android, I am not too excited about it since some services crash and the rom is not functional, since you are spammed with "service XXX stopped working" warnings, but at least, it boots :) I'll upload some pics later

[2016-03-07 19:02] olrak2 commented on #1
I'm very excited to hear that. Those warning's can't be worse than EMUI :) Let those pics come :)

[2016-03-07 20:55] XePeleato commented on #1
![screenshot_2016-03-07-20-00-26 1](https://cloud.githubusercontent.com/assets/6912584/13582909/13179588-e4af-11e5-9430-6da1fc42119a.png)

![screenshot_2016-03-07-20-00-21 1](https://cloud.githubusercontent.com/assets/6912584/13582927/23ef819a-e4af-11e5-98f5-677c68781b3f.png)

There are lots of bugs (as expected), but there's the proof!

[2016-03-08 08:53] ghost commented on #1
wow, congrats, so it was libs issue?

[2016-03-08 10:35] XePeleato commented on #1
Kind of @hak86 I also disabled selinux and modified the ramdisk, I'll submit a pull request in the afternoon to your tree, since I have spotted something weird.

[2016-03-08 11:08] ghost commented on #1
@XePeleato i think you need to remove everything used by emui, second we should make a ril.java file to let it works, we can try with honor 6 one, it's use kirin920 if not wrong but i'm not sure ;)

[2016-03-08 11:47] XePeleato commented on #1
@hak86 True, since the phone doesn't even ask me to unlock the SIM card. I didn't had much luck following the Honor 6 config. I removed every Huawei file inside 'framework', so there's no trace of Huawei code (just the libs used to get the camera/wifi/bluetooth/display..) working.

[2016-03-08 11:50] ghost commented on #1
one question, does get in the out like root/res? needed for the charger? @XePeleato because my own boot won't boot without them....pretty weird...

[2016-03-08 12:03] XePeleato commented on #1
@hak86 Yes, I copied them from the original ramdisk, it's not updated here because I am building everything again from scratch.

[2016-03-08 17:33] XePeleato opened #3 "Main bugs & things I need help with"
So, in order to keep track of what is fixed and what is not (and if it's fixed, how to fix it), I have created a list, so if anyone wants to collaborate with their experience, any ideas or even linking me to a post or anything, feel free to do so, I'll edit it whenever I achieve something new. The list is small because I want to focus into a small group of issues at a time.

(Currently fighting ag

[2016-03-09 20:06] debbiche commented on #3
Does the device currently boot? Any logcat logs?

[2016-03-09 20:36] XePeleato commented on #3
Sure it does, I don't know why would you need a logcat, but if you want it anyway, I'll upload it somewhere.

P.S: Just got wifi working
![dsc00178](https://cloud.githubusercontent.com/assets/6912584/13649658/0241047e-e63f-11e5-9ae5-4700b14db594.JPG)

[2016-03-09 20:42] debbiche commented on #3
Nice! The reason I was asking is that I'm currently porting CM for the Huawei P8 and was wondering how far you've gotten with the P8 Lite. Mine currently has issues with blobs while booting (stuck at CM boot animation) so I will take a look at what you have done.

[2016-03-12 16:22] XePeleato commented on #1
UPDATE: I am switching from AOSP to CM, because AOSP doesn't let me configure some things that CM does, and at the moment, I don't have the time to figure out how to do them on my own, so the Build machine is now compiling, allow some hours for a new update.

Have a nice weekend!

[2016-03-13 08:55] XePeleato commented on #1
Well, it looks like it wasn't as easy as just switching sources, now it doesn't even boot.

[2016-03-13 10:27] ghost commented on #1
i fix copying blobs into build and now should copy them with any rom, for the boot.img i still don't understand why in the out/target/product/hi6210sft/root, give me only sbin and res, should be folder like data, dev, system and many other..bah.. @XePeleato

[2016-03-13 11:51] XePeleato commented on #1
Well, you  can copy them by hand in order to check if it works @hak86  Mine copied that files just fine.

[2016-03-14 16:21] olrak2 commented on #1
@XePeleato Can you update your source?  I also want to test aosp and try to boot up my P8 lite. One thing i find weird.  How does it come your build number is the same as the original stock build number? It should be a total different number than the stock one, no?

[2016-03-14 16:31] XePeleato commented on #1
@olrak2  It doesn't work that way, the build number is written into a file, I uses the file that came with the device, so it isn't so surprising

[2016-03-14 18:12] olrak2 commented on #1
Good to know :) I don't know anything about building.  Still learning.  Is your tree up to date so i can test on it?

[2016-03-14 18:59] XePeleato commented on #1
@olrak2 Kind of, however you can download it and test it, but let me remind you that it isn't even finished, and you'll need to use my kernel in order to get it working, also, folders "vendor" and "etc" are not copied, since I am doing it by hand because I am testing those files at the moment, However you can still copy them yourself

[2016-03-15 12:49] debbiche opened #4 "I/ServiceManager( 3164): Waiting for service media.audio_policy..."
I've been trying to get AOSP booting on the P8 and the booting seems to get stuck here (I have the same blobs as you when it comes to the audio):

I/SystemServer( 3164): Connectivity Service
D/ConnectivityService( 3164): ConnectivityService starting up
D/ConnectivityService( 3164): wifiOnly=false
E/ConnectivityService( 3164): Ignoring protectedNetwork 10
E/ConnectivityService( 3164): Ignoring prot

[2016-03-15 15:42] XePeleato commented on #4
Yes, I have faced that issue, I had to disassemble some libs and placed the symbols at 'libc_huawei_symbols'. However you'll need  to edit Android.mk inside bionic/libc in order to read those symbols . I'll upload the line you have to add in a while. You are getting closer!

[2016-03-15 17:12] debbiche commented on #4
Thanks a lot for your help! Let me know when you can post/upload it.

[2016-03-15 17:34] XePeleato commented on #4
Alright, open bionic/libc/Android.mk and search for "special for arm" there you'll see:

[code]

Just add
"**LOCAL_WHOLE_STATIC_LIBRARIES += $(BOARD_PROVIDES_ADDITIONAL_BIONIC_STATIC_LIBS)**"
It must look like that, try compiling it again.

Good Luck!

[2016-03-15 17:44] debbiche commented on #4
Thanks. Will try soon. Did you do clean build after adding the line or doesn't matter?

EDIT: I assume the line should look like this:
LOCAL_WHOLE_STATIC_LIBRARIES += $(BOARD_RPOVIDES_ADDITIONAL_BIONIC_STATIC_LIBS)

[2016-03-15 18:02] XePeleato commented on #4
@debbiche I didn't, it compiles libc automatically since it detects the changes.

[2016-03-15 18:29] debbiche commented on #4
hmm added the line as you said but still get this error:

CANNOT LINK EXECUTABLE: could not load library "libaudioflinger.so" needed by "/system/bin/mediaserver"; caused by cannot locate symbol "__android_logPower_print" referenced by "libaudioflinger.so"...

EDIT:
I just need this line in board config right along with the folder and the added line you described:
BOARD_PROVIDES_ADDITIONAL_BIONIC_S

[2016-03-15 20:14] XePeleato commented on #4
@debbiche Yes, that would be it, are you loading libc as a blob? Is everything updated in your device tree, I'd like to check it.

[2016-03-15 20:16] debbiche commented on #4
@XePeleato I'm not loading libc as a blob. I will push my tree now.

@XePeleato : Device tree: https://github.com/debbiche/android_device_huawei_gra_l09

[2016-03-15 21:13] debbiche commented on #4
Next missing symbol :)
CANNOT LINK EXECUTABLE: could not load library "libaudiopolicyservice.so" needed by "/system/bin/mediaserver"; caused by cannot locate symbol "_ZN7android11AudioSystem11setFmVolumeEf" referenced by "libaudiopolicyservice.so"...

[2016-03-15 22:07] debbiche commented on #4
The phone boots now which is awesome! But bluetooth share goes crazy with FCs hehe

[2016-03-17 10:35] debbiche commented on #3
@XePeleato Is this list up to date? I got bluetooth and Wifi working yesterday. Sound is still not working. Seems mediaserver dies all the times.

[2016-03-17 15:41] XePeleato commented on #3
Oh I forgot about it, if you send me your logcat I might be able to help you

[2016-03-17 16:57] debbiche commented on #3
@XePeleato Here you go: http://pastebin.com/EHFKcs2G

[2016-03-17 19:22] XePeleato commented on #3
Hm, so you are facing a segmentation error, your best bet is to debug the process in order to detect what's exactly wrong with it

[2016-03-17 20:12] debbiche commented on #3
Yeah, what's the best way to debug the process itself?

[2016-03-17 20:33] XePeleato commented on #3
For this kind of issue, I'd use gdb.

Good Luck!

[2016-03-17 20:56] debbiche commented on #3
I will try, thanks. What's status for you? What's working and not working?

[2016-03-17 22:36] XePeleato commented on #3
The device boots fine as I showed, however when I change some libs to make it more functional, I face some errors

[2016-03-18 17:46] #4 closed

[2016-03-19 15:56] XePeleato opened #5 "Testers needed!"
Alright,  I have finally built TWRP 3.0 so I need some people to test it.

Just drop a comment if you'd like to provide feedback!

[2016-03-19 16:02] FelipeBR28 commented on #5
I can't test it yet (because it's being repaired)  but when it's finished, I'd like to test it.

[2016-03-19 18:51] olrak2 commented on #5
Very good news, how did you solve the black screen?

I'm very excited to test it :)

[2016-03-19 18:59] XePeleato commented on #5
Well, I had to edit a graphics file.

http://error404software.com/android/recovery.zip

Unzip and run "fastboot flash recovery recovery.img"

[2016-03-19 19:14] olrak2 commented on #5
Installation without problem :)

All settings are working for the moment.

Will test other settings in the couple of days.

Very good job.  Keep up the good work

[2016-03-20 11:47] Mast3rPK commented on #5
Hii, TWRP is perfect :dancer:

![TWRP 3 Test](http://imageshack.com/a/img922/8775/v8uk6R.jpg)

[2016-03-20 11:53] FelipeBR28 commented on #5
And, @XePeleato , can it be flashed by Flashify? It's easier 😅

[2016-03-20 12:18] XePeleato commented on #5
@Tuentista At the moment, it can't, since I just released it here to get a few people to provide some feedback, so far I am pretty happy with it, so I might release a .zip

@Mast3rPK Thank you for your feedback! I really appreciate it.

[2016-03-20 13:07] olrak2 commented on #5
If you can't flash it with fastboot you are not worth of being a tester :stuck_out_tongue_winking_eye:

@XePeleato hope development on your AOSP rom is going well

[2016-03-20 13:10] FelipeBR28 commented on #5
Obviously I can, just said that it's easier, not else.

[2016-03-20 13:11] debbiche commented on #5
@XePeleato is there a source for this somewhere? Would love to try to build it for the P8 ;)

[2016-03-20 13:26] XePeleato commented on #5
@debbiche I am talking with the members of TeamWin, so they can provide me with an 'official' recovery tree, the problem was that since the graphics are now coded in C++ instead of C, the  graphics.c patch by jniklast became obsolete and I had to adapt it. Whenever that change is pushed you'll be able to build it.

[2016-03-20 17:49] debbiche commented on #3
Did you get the audio to work? I had some errors with medaserver and its blobs but I fixed them and everything audio and camera wise seems to load fine but it never completes booting or at best shows the android is upgrading/starting apps screen but no crashes: http://pastebin.com/ztg0X19w

[2016-03-20 18:23] XePeleato commented on #3
@debbiche I don't know since I had some issues with media_codecs/profiles.xml
Could you please find what's the lib that triggers that 'state' ?

[2016-03-20 19:10] debbiche commented on #3
Were you able to boot with sound working? I'm not sure which lib causes this state, here is my list (probably a few that are not needed):
http://pastebin.com/ud57xYeG

[2016-03-20 20:11] XePeleato commented on #3
@debbiche As I said above, I haven't tested it, so I guess it's not working. I agree with you, there are some libs that shouldn't be there, altought I am not sure since I haven't finished the rom

[2016-03-20 22:10] XePeleato commented on #3
@debbiche I have spotted why it doesn't boot, let me investigate it a little bit more and I'll tell you what is it.

[2016-03-20 22:53] debbiche commented on #3
That's great. I cleaned up my blobs list quite a bit but still same effect.
I'm running a new build now since it's been a few days since I did a clean
one.

[2016-03-23 02:45] bboci80 commented on #5
help me please!
possible to, installing the Android6.0. marshmallow  on the huawei P8 Lite Dual SIM(ALE-L21)?
if the answeris yes, then how i beginning andme it;;m?

[2016-03-23 11:22] XePeleato commented on #5
@bboci80 There are some posts on XDA about it, however I won't update until Huawei releases it officially.

[2016-03-23 13:04] XePeleato commented on #1
I'm getting closer :)

![screenshot_2016-03-23-13-00-46](https://cloud.githubusercontent.com/assets/6912584/13985979/1f410f76-f100-11e5-9ebc-b6487268d167.png)

[2016-03-23 13:06] ghost commented on #1
nice, i just finish a build too, let's see :+1:

[2016-03-23 20:54] XePeleato commented on #3
The camera is now working!

[2016-03-23 20:57] debbiche commented on #3
Very nice. What did you do? Blobs thing? Mine just gives me sensors error
or something.

[2016-03-23 21:02] XePeleato commented on #3
Yeah I just copied some blobs and all of a sudden it worked. Audio works in your build right? How did you did it? Have you copied media_codecs.xml or/and media_profiles.xml?

[2016-03-23 21:58] debbiche commented on #3
Which blobs did you copy? Audio works perfect for me. Took me a while to
get it to work. And you need all the stuff in etc/audio and some other
files.

[2016-03-23 22:27] XePeleato commented on #3
I copied all the libcamera_\* and libjpegenchw.so and libmedia.so (just the 32 bit lib). Is your blob list at your github updated? It'll be easier to know wich ones are missing.

[2016-03-23 22:33] debbiche commented on #3
Yeah they are updated and for the audio too so it should work for you.
On Mar 23, 2016 23:28, "Eduardo Alonso" notifications@github.com wrote:

[2016-03-24 09:19] XePeleato commented on #3
Well, since the HuaweiRIL.java I am using is made for Android 5.1 Ther are lots of missing dependencies.
Do We have any Java developer? I can handle C/C++ but not Java.

[2016-03-24 10:16] debbiche commented on #3
I do Java but I'm not familiar with how these ril classes work.

[2016-03-24 10:19] XePeleato commented on #3
If We had a 5.1 version, it'd be much easier, so whenever Marshmallow is released, I'll switch to it.

[2016-03-24 10:37] olrak2 commented on #3
There is a 5.1 version available.  But no source.  It's possible to bootup and work with the system with the 5.0 own build kernel and stock 5.1 ramdisk files.

[2016-03-24 10:40] XePeleato commented on #3
@olrak2 Oh, could you find me a link? It would be interesting to have a look.

[2016-03-24 10:42] olrak2 commented on #3
@XePeleato , it's a lot of work. But you can take an nandroid after installation

http://forum.xda-developers.com/p8lite/help/upgrade-android-5-1-1-b008-ale-21-t3285993

First install B052 with mfastboot
Then install B136a with mfastboot
Then install B008 (5.1.1) with dload

[2016-03-24 10:59] XePeleato commented on #3
@olrak2 Thank you! I wasn't aware of that.

[2016-03-24 11:05] olrak2 commented on #3
From my post to haky86:

If you need them or not, here are all the kernels + ramdisk files:

Download link for kernel android 5.0 ALE-21:
https://mega.nz/#!dF9x1ZbA!pipmYzYtbaKpZbrFPYmAKtmpLaNkszyoLMgyVfsTmZw

Download link for kernel android 5.1.1 ALE-21:
https://mega.nz/#!oRVwxBKI!w2NcBAKouK0Q6aLz-9v01v6evqG8uVFwfCDfnOPFeaI

Download link for kernel android 6.0 ALE-21: https://mega.nz/#!IVdVRSJB

[2016-03-24 14:18] XePeleato commented on #3
@olrak2 It worked! Now I have Android 5.1.1 installed. The server is compiling!

[2016-03-25 12:04] olrak2 commented on #3
@XePeleato : You can start building 6.0 :smiley:

https://github.com/olrak2/make_boot_image_hi6210sft
https://github.com/olrak2/android_kernel_huawei_hi6210sft

![screenshot_2016-03-25-11-51-17](https://cloud.githubusercontent.com/assets/17641040/14043915/19588fea-f28a-11e5-8467-2242d95a079a.png)

[2016-03-25 12:09] XePeleato commented on #3
@olrak2 Good Job! However, I am now building 5.1.1, the RIL classes compiled perfectly, anyway that are some good news!

[2016-03-25 19:43] muhammadfahadbaig commented on #5
@XePeleato Recovery works great :+1:

[2016-03-26 12:45] XePeleato commented on #3
Update: Xposed works

![screenshot_2016-03-26-12-30-43](https://cloud.githubusercontent.com/assets/6912584/14060098/f89d949c-f358-11e5-8608-8437f5e82b2e.png)

[2016-03-26 13:50] muhammadfahadbaig commented on #3
@XePeleato didn't Xposed worked flawlessly on AOSP?

[2016-03-26 14:25] XePeleato commented on #3
@muhammadfahadbaig Sure it did, but no one got it working on the P8 Lite

[2016-03-26 14:31] FelipeBR28 commented on #3
Hi, I know this isn't the right place to ask, but... Anyone knows how to unlock bootloader with the new Huawei's website? I don't know and I need it...

[2016-03-26 14:36] XePeleato commented on #3
@FelipeBR28 Log in with your Huawei ID here https://emui.huawei.com/en/plugin.php?id=unlock&mod=detail

[2016-03-26 14:40] FelipeBR28 commented on #3
@XePeleato I know how to, but the problem is that some time ago, you could choose the model number Y300-0000 and then, you had the number, but now you can't even with that, so if there's any other way to do it...

[2016-03-26 15:03] olrak2 commented on #3
@FelipeBR28 : don't know if it will work but try this unlocking guide

http://huaweip8lite.blogspot.be/  (--> you need google translate :smile: )

[2016-03-26 15:04] XePeleato commented on #3
@FelipeBR28 What device do you have?

[2016-03-26 15:07] FelipeBR28 commented on #3
@olrak2 I'll try it... thanks!!

[2016-03-26 15:08] FelipeBR28 commented on #3
@XePeleato ALE-L21, the standard

[2016-03-26 16:13] muhammadfahadbaig commented on #3
@XePeleato Still no sign of baseband?

[2016-03-26 16:15] muhammadfahadbaig commented on #3
There is way to unlock bootloader without Huawei's website. However you must be rooted for that method.

[2016-03-26 16:41] XePeleato commented on #3
@muhammadfahadbaig I am working on it.

[2016-03-26 16:46] muhammadfahadbaig commented on #3
and also what about graphics.c file? I am working for TWRP for my other Huawei device.

[2016-03-26 17:03] XePeleato commented on #3
@debbiche Also asked for it, @muhammadfahadbaig I forgot to upload it
https://gist.github.com/XePeleato/3e886d517fbc7142780d

place it in bootable/recovery/minuitwrp

[2016-03-26 17:04] muhammadfahadbaig commented on #3
just one more question... I am compiling TWRP right now. No idea why it's failing at " make: **\* No rule to make target `/datadrive/android/system/out/target/product/hi6210sft/kernel', needed by`/datadrive/android/system/out/target/product/hi6210sft/boot.img'.  Stop. I am using my own prebuilt kernel.
And thanks for graphics.c . You are doing a great job sir!

[2016-03-26 17:15] XePeleato commented on #3
@muhammadfahadbaig Thanks! Just copy the kernel to that directory manually, it happened to me too.
`
cp device/HUAWEI/hi6210sft/kernel out/target/product/hi6210sft/kernel`

Change the command as needed.

[2016-03-26 17:41] muhammadfahadbaig commented on #5
@XePeleato I can't seem to reboot to system from TWRP. It just powers off the device instead of rebooting.

[2016-03-26 17:51] XePeleato commented on #5
@muhammadfahadbaig Have you played with the kernel? Did that happen with 2.8.7 version?

[2016-03-26 17:53] muhammadfahadbaig commented on #5
It's the same with 2.8.7.0. (I built both of them myself using your device tree for Android 5.1.1 version with my own kernel built from source). I want to stay away from kernel sources as far as I can. I'll now use the Image from stock boot.img...

[2016-03-26 17:57] XePeleato commented on #5
Have you tried with the file I released above?

[2016-03-26 18:00] muhammadfahadbaig commented on #5
Same with your recovery.img...

[2016-03-28 07:26] olrak2 commented on #5
@XePeleato , probably not your recovery's fault but wanted to share my experience.

I had a backup of my rom: version B188 in TWRP (external SD Card)

I installed version B052 (did a full wipe, all also internal memory etc.)  and then with OTA to B170.

Installed your recovery TWRP to go back to my backup of the B188.

Once my backup did install i booted up to my backup, no problem but my rom aske

[2016-03-28 07:36] muhammadfahadbaig commented on #5
@olrak2 You're right about the partition. Cust.img holds all current firmware information. That's why if you want to downgrade from lets say Android 6.0 to Android 5.1.1 you need to flash cust.img of Android 5.1.1 and then the whole stock ROM. It would be easy to add Cust partition to the Backup menu. Let me see it and I'll try to build one with this option.

[2016-03-28 10:33] muhammadfahadbaig commented on #5
@olrak2 Just add this line in recovery.fstab (either before compiling from source or decompiling the recovery.img and editing this file in /ramdisk/etc/).
`/cust      ext4    /dev/block/platform/hi_mci.0/by-name/cust flags=backup=1;display="Cust";wipeingui`

[2016-03-28 13:00] sgspluss commented on #3
First of all thanks @XePeleato for your work on P8 Lite, nice to see there will be an AOSP and maybe CyanogenMod soon. Will follow this project and hope to see an public beta or even an better version soon on XDA :)

[2016-03-28 13:04] debbiche commented on #3
@XePeleato Is there anything you did to any makesfiles to get the RIL class to compile except adding the flag to the board config file?

[2016-03-28 13:21] XePeleato commented on #3
I had to modify frameworks/opt/telephony/Android.mk However it failed to compile on Android 5.0, I switched to 5.1.1

@sgspluss Just got sound working, whenever RIL works, I'll release a beta.

[2016-03-28 13:25] muhammadfahadbaig commented on #3
@XePeleato What you did to fix sound? Added some blobs?

[2016-03-28 13:31] muhammadfahadbaig commented on #3
and also @XePeleato , I have cloned your source to my machine so that I can try a build for my p8 lite. I hope if that's ok (any permission or anything)

[2016-03-28 13:35] XePeleato commented on #3
@muhammadfahadbaig You can check it in the last commit. Sure, you can clone it and use it however you want, that's why I released it :+1:

[2016-03-28 13:39] muhammadfahadbaig commented on #3
@XePeleato Thanks!!! I'm building now...

[2016-03-28 14:35] muhammadfahadbaig commented on #3
I have a really bad luck today. Was building on a server, and I have a fixed monthly cap. Didn't knew that I have already used up all of my resources and bam, all servers were shut down. Well, I'll have to wait for a week for the credit to reset :)

[2016-03-29 14:21] XePeleato commented on #1
Update.

I have been talking to codeworkx and it looks like the whole RIL stack isn't compatible with the AOSP framework. As I see it, We  have three options.
1. We can decompile Huawei's framework
2. We can develop a hack
3. We can beg Huawei

Any Java developer is up to a challenge?

[2016-03-29 14:39] ghost commented on #1
did you try to call the command like adb shell > rild to see if drivers are missed?

[2016-03-29 14:52] XePeleato commented on #1
Yes, however it worked. 'adb logcat - b radio' was  more explicit

[2016-03-29 17:07] muhammadfahadbaig commented on #1
@XePeleato What about the patching the modemst images.

[2016-03-29 17:21] muhammadfahadbaig commented on #1
@XePeleato Remove the third option. **3. We can beg Huawei** I have done that already and too much...

[2016-03-29 17:44] muhammadfahadbaig commented on #1
@XePeleato which sources you used to compile RIL

[2016-03-29 17:53] XePeleato commented on #1
The RIL daemon is the original one, and the libs are also from Huawei. If  you mean the Java class, it's just used to fix signal strength and some other minor bugs.

[2016-03-29 17:58] muhammadfahadbaig commented on #1
@XePeleato Talking about codeworks, he did compiled CM 11 for Honor 6. Any tip from him? I am seriously not good in Java (even I am below moderate in C/C#). You mentioned, decompiling Huawei Framework. Any idea from where to start? I know someone who may take a look.

[2016-03-30 06:17] olrak2 commented on #1
@XePeleato Why not try omnirom or cyanogenmod again?

Probably also a good idea is to update your source tree so everybody can build from your source.

I gave tried to build but could not boot to android.

There were a couple of weird things in your tree that i needed to fix before i could build:
- BoardConfig.mk line 90 needted to remove: TW_THEME := hdpi_portrait
- BoardConfig.mk TARGET_KERNEL_P

[2016-03-30 07:30] XePeleato commented on #1
The tree is updated, I'll upload the vendor files in the evening. Thanks!

[2016-03-30 07:43] olrak2 commented on #1
No, thank you @XePeleato

[2016-03-30 07:49] sgspluss commented on #1
@XePeleato would it be helpfull to take a look into huawei p6? They fix ril problems, maybe this will helps you to fix it to. Just search "huawei p6 ril fix" in google.

[2016-03-30 08:09] XePeleato commented on #1
@sgspluss Since it doesn't support Lollipop, I don't think it'll work.

However thank you for your suggestion!

[2016-03-30 11:05] sgspluss commented on #1
I know it didnt has lollipop but maybe it will be helpful anyway @XePeleato, hope you can fix it _finger-cross_

[2016-03-30 23:07] sgspluss commented on #1
@XePeleato, just search a bit around and found following things, all for CM12.1...

https://github.com/ShevT/vendor_huawei_U9500/commit/0de7be416167dab5ac53677cfdbff1044347e4be

https://github.com/ShevT/device_huawei_U9500/commit/625ed001a380605584de526c3cd006cdc90c737d#

http://forum.xda-developers.com/showpost.php?p=62770987&postcount=7

The last link sounds that the ril fix for CM11 should work

[2016-03-31 06:12] muhammadfahadbaig commented on #1
@sgspluss It still will be difficult. Apart from the RIL blobs, the QMI blobs won't work for our device. QMI is a protocol developed by Qualcomn and is only available on Qualcomn Chipsets.
Our best bet would be to,
1. Patch the Modem Images to make them compatible.
2. Switch to CM base.
3. Or maybe give that QMI fix a try :) Atleast nothing bad would happen.

[2016-03-31 07:46] sgspluss commented on #1
Maybe in this case it would be the best to test it with cm base at first. Right it could be that the QMI fix doesn't work due to chipset, so we'll have to find an other solution sadly...

[2016-03-31 11:44] muhammadfahadbaig commented on #1
@XePeleato did you checked the kernel source code. There might be some modem or RIL configurations. Another bet could be to edit them and compile the modified modules and make them compatible with AOSP.

[2016-03-31 14:42] debbiche commented on #3
@XePeleato  Did you have any issues with camera apps not able to get camera info? I added all the camera blobs but it fails with this error: http://pastebin.com/YMsNAzEy

[2016-03-31 22:13] XePeleato commented on #3
@debbiche Does the Camera app work?

[2016-04-01 05:50] muhammadfahadbaig commented on #1
@XePeleato Since you switched to Android 5.1.1. Does it boots (I believe it'll boot fine)? Secondly, which release version you are using? There are so many releases r1 to r25 to r.... Does picking right release matters?

[2016-04-01 06:51] debbiche commented on #3
@XePeleato No, it just shows a black screen then crashes. I was fixing some other small issues yesterday and managed to get rid of the Camera app exception but it still crashes and force closes. Log with all the errors since boot, starting the camera still causes the invalid id error :
http://pastebin.com/J79zeayE

[2016-04-01 10:38] XePeleato commented on #1
It boots x I am using r1

[2016-04-01 11:41] VenityZ commented on #1
@XePeleato First of hello , I have been watching this project for a while and I see you make a lot of progress. Nicely done. I would like to try it out if it's ok for you. Could you tell me everything I need in order to build it? The newest Kernel Source of you I guess? And which vendor?

[2016-04-01 11:45] muhammadfahadbaig commented on #1
@VenityZ You don't need Kernel Sources. A prebuilt kernel is included with this repository. Secondly, you have to extract vendor files yourself from your device. At the moment, a script to automatically extract the needed vendor files is not included. Therefore, see `aosp_hi6210sft.mk` to get a list of the vendor files needed and where they have to be placed.

[2016-04-01 12:43] XePeleato commented on #1
I forgot to upload the blobs, since you can get them from your device, I'll post them whenever I can.

[2016-04-01 13:14] VenityZ commented on #1
@muhammadfahadbaig Thanks. Saw the Kernel wasn't sure about that. A little Challenge for me.

[2016-04-01 13:40] XePeleato commented on #1
Since I can't seem to get RIL working, I guess I'll post the Alpha version of the rom in order to build up interest. A true shame.

[2016-04-01 13:53] muhammadfahadbaig commented on #1
@XePeleato Don't say "True Shame". The problem with Huawei is the lack of community of developers who are willing to spare time and devote in development. You are a lone ranger who took the interest in development and got this far. Now that's a true achievement. Also, you're the first one to create a bootable 5.1.1 ROM for Huawei HiSilicon chipsets. We need people to gain interest in this project

[2016-04-01 14:44] XePeleato commented on #1
Well, not really, the help I received here was essential to develop the rom, I am a C developer and I have stuff to work on and I have never developed an android rom before, so I just used  the office Build server and my spare time. I don't really want to release the rom, because it isn't finished but we need  as much help as possible.

Now, I have discovered that hwframework (I don't remember  th

[2016-04-01 14:50] muhammadfahadbaig commented on #1
CM won't fix this but CM is relatively easier in fixing bugs (thanks to it's large community support) but very difficult in getting it to boot.

[2016-04-01 15:08] VenityZ commented on #1
Does the RIL effect 3g and etc. I don't know if I can help but you need someone who has Java knowledge. I have mush but not in things such this , gonna have a look and try to find someone who knows what to do.

[2016-04-01 15:12] muhammadfahadbaig commented on #1
The first step would be to deodex the framework files. Due to Android ART Runtime, the framework classes are stored in a boot.oat file. So the actual framework files contain nothing useful as most of the classes are pulled away and stored in a separate file. I'll edit this post as soon as I get the deodexed framework.

[2016-04-01 15:13] muhammadfahadbaig commented on #1
@VenityZ RIL (Radio Interface Layer) manages the complete baseband and modem. Simply, your cellular network. It is a means of transport or whatever else between the software and hardware.

[2016-04-01 15:29] VenityZ commented on #1
@muhammadfahadbaig Already knew this but thx anyway. On my old device it had a more important role.
@XePeleato If you need help , I could make a public post with a full explanation of the project and with its problems where  I search for people to help. If you give me a yes I will make one.

[2016-04-01 15:31] muhammadfahadbaig commented on #1
@XePeleato Did you decompiled the hwframework.jar? I would upload it right now if's not.

[2016-04-01 15:51] muhammadfahadbaig commented on #1
@XePeleato in **aosp_hi6210sft.mk** add these libraries `/vendor/lib/libreference-ril.so`, `/vendor/lib64/libreference-ril.so`, `/vendor/lib/librilutils.so` and `/vendor/lib64/librilutils.so`.
Also I've got 3 other Anonymous developers to look into this RIL problem :)

[2016-04-01 21:04] XePeleato commented on #1
I really appreciate your help,thank you! But unfortunately it doesn't work

[2016-04-01 21:21] sgspluss commented on #1
Could it be have someting to do with this?

Stock:
-#BOARD_RIL_CLASS := ../../../device/HUAWEI/hi6210sft/ril/

Edit in yours:
+BOARD_RIL_CLASS := src/java/com/android/internal/telephony

Maybe not vaild path or else?

[2016-04-01 21:49] XePeleato commented on #1
@sgspluss That's because I have moved it,however that RIL class just fixes the signal strength and other minor bugs, so even if it's not loading correctly, it's not causing the problem.

[2016-04-01 22:42] sgspluss commented on #1
@XePeleato thanks for clearify this. Then will hold my eyes open again for this ril problem. Dont have much experiances with rom (just few small one) more with kernel, but anyway try my best to help out whenever i can. ;-)

[2016-04-02 05:40] muhammadfahadbaig commented on #1
If anyone here knows anything about Java development, I have uploaded the disassembled hwframework.jar here: https://drive.google.com/file/d/0B0LG0AQ4V9FpN0xmZERsbEdVQTg/view?usp=sharing. The file uploaded is a .zip file. Inside it are .smali files which can be edited using any text editor (such as Notepad++).
This framework can be used as a reference to patch AOSP framework (which unfortunately I

[2016-04-02 06:50] olrak2 commented on #1
@XePeleato , you already done a very good job, you are my hero :smile:

But could you please tell us how you were able to build?  I tried to build from your tree, it worked after adjusting some settings but got an error when i booted.  adb error.  Maybe a little manual :wink:

Never been able to get a full boot. Always stuck on boot.

I would like to help with the ril problem but if i can't make a

[2016-04-02 07:00] muhammadfahadbaig commented on #1
@olrak which Android repo you're using?

[2016-04-02 07:06] olrak2 commented on #1
@muhammadfahadbaig , i have tried all of them.  Android 5.0, Android 5.1 R1, etc...

I always get this error : http://pastebin.com/raw/F1744gqG

[2016-04-02 07:23] muhammadfahadbaig commented on #1
@olrak2
1. Downgrade back to Android 5.1.1 (if you are on Android 6.0) i.e. flash stock Huawei Android 5.1.1.
2. The stock boot.img won't work. Netd (Network Daemon) is failing maybe because @XePeleato made some changes to kernel (NETFILTERS???) and init.rc in ramdisk. Compile a boot.img yourself using this repository kernel and ramdisk files.

[2016-04-02 10:28] VenityZ commented on #1
@muhammadfahadbaig of which vesion is the Framework?

[2016-04-02 10:52] muhammadfahadbaig commented on #1
@VenityZ It's stock Huawei Framework Android 5.1.1. EMUI 3.1

[2016-04-02 11:05] VenityZ commented on #1
@muhammadfahadbaig I don't know if it changes something. But you were using B008 I guess theres a newer 5.1.1. I think the frameworks are different need update pakage?
Also are the permissions in the ueventd.rc right not familiar the modem.

[2016-04-02 11:09] muhammadfahadbaig commented on #1
@VenityZ Actually, we don't need any EMUI framework patches. We only need how hwframework invokes and manages RIL. You may compare all RIL classes in my uploaded version to any other Android 5.1.1 EMUI version. I think it would be the same.

[2016-04-02 11:18] XePeleato commented on #1
@muhammadfahadbaig Nice job! Let me play around with it, and let's see if I can understand it.

[2016-04-02 13:45] ghost commented on #1
i manage to got worked boot.img with adb too compiled under cm-12.1, and also i have an idea want to apply after see first boot to get worked ril without patches, keep in touch :+1:

[2016-04-02 13:55] muhammadfahadbaig commented on #1
@hak86 @XePeleato All fighting for one common cause.... to free everyone from the horribly designed (although with many great features and addons) EMUI.

[2016-04-02 13:59] ghost commented on #1
@muhammadfahadbaig sure bro, our device will be faster with a stable rom i think :)

[2016-04-03 10:39] muhammadfahadbaig commented on #1
@olrak2 So were you able to get it to boot?

[2016-04-05 11:41] muhammadfahadbaig commented on #1
@XePeleato About the RIL issue, I was able to find RIL libraries for HiKey boards. And HiKey Board is compatible with AOSP. Any chance they might work?

[2016-04-05 22:10] XePeleato commented on #1
@muhammadfahadbaig No idea, where did you find them? I could try.

[2016-04-06 00:52] muhammadfahadbaig commented on #1
@XePeleato Here is the link for complete AOSP ROM for HiKey: https://builds.96boards.org/snapshots/hikey/linaro/aosp/218/ . Download system.img.tar.xz. Also for a list of libs and other files included in this distribution, see installed-files.txt
I think the libs would work. GPS, Bluetooth, and maybe RIL, I hope they'll work.

[2016-04-06 09:14] muhammadfahadbaig commented on #1
@XePeleato I built from your sources. Unfortunately, my device is stuck on Huawei logo. It doesn't even goes to bootscreen. Any idea why? (using the boot.img compiled from sources)

[2016-04-06 11:18] muhammadfahadbaig commented on #1
@olrak2 @XePeleato I confirm the bug faced by @olrak2 . Stuck at Net.d starting....
http://pastebin.com/eyVhnnAE

[2016-04-06 12:43] olrak2 commented on #1
@muhammadfahadbaig, after looking in the system.img from @XePeleato , you need to copy the entire bin, etc, lib, lib64 dir's to the out directory of your build. You need to put it all in the system folder.  After copying the dir's you can build your rom.

Tomorrow i post a scrypt that you can put in your Android.mk file.

[2016-04-06 13:36] muhammadfahadbaig commented on #1
@olrak2 Yeah, I figured that out. The reason of Net.d is crashing was either because of init.rc in ramdisk or because of the Android Runtime crashing. The latter is caused because of incompatible libraries being used in the ROM which are not compatible with AOSP.
@XePeleato It would be great if you upload the vendor files you're using. It seems that some vendor files which I'm using are not compat

[2016-04-06 13:39] XePeleato commented on #1
It's not a good idea  to copy the whole folders, I'll upload it this afternoon

[2016-04-06 13:44] muhammadfahadbaig commented on #1
@XePeleato Right about that! I'm using Android 5.1.1 r37 and I would not like to face some major crashes. Also, it's good you uploaded the 5.1.1 system.img on XDA. I'll extract the libs from that and then I'll create a repository here on github.

[2016-04-06 15:46] muhammadfahadbaig commented on #1
@XePeleato @olrak2 Here are the vendor files :) https://github.com/muhammadfahadbaig/vendor_device_hi6210sft

[2016-04-10 01:54] muhammadfahadbaig commented on #5
@XePeleato As for the black screen patch for HiSilicon SoC,
does FBIOPUT_VSCREENINFO always passes or fails for our chipset?

[2016-04-10 08:35] XePeleato commented on #5
I've never tried it , the custom graphics file works fine for me

[2016-04-17 20:00] darklion1496 opened #6 "Android 6.0 ALE-L21 Oficial"
Ya está la versión oficial de android 6.0 supongo que con eso ya se puede hacer una ROM que pueda funcionar bien. Aquí el link http://consumer.huawei.com/es/support/downloads/detail/index.htm?id=78426&key4=ALE-L21

[2016-05-25 11:26] olrak2 commented on #3
@XePeleato: Does Bluetooth works on the latest build, the one on XDA?

For me it won't start.  I get an error on startup Android and an error while starting up Bluetooth?

[2016-05-25 13:14] XePeleato commented on #3
@olrak2 I forgot to include the BT firmware, I wasn't really focused on it so, my bad. The fix should be really easy, if you want to work on it.

[2016-06-17 09:24] XePeleato commented on #1
Development is officially resumed!

[2016-06-17 09:28] olrak2 commented on #1
@XePeleato Good news

If you need something, just call.

My working tree for omnirom 5.1 is on my github. (https://github.com/olrak2/android_device_huawei_alice)

[2016-07-01 10:42] FelipeBR28 commented on #1
How's everything going? And what about the RIL?

[2016-07-01 12:12] XePeleato commented on #1
There's still work to be done, the RIL stack won't work until I patch the framework.

[2016-07-01 13:58] ghost commented on #1
and also does required patches to boot the rom? my own aosp still stuck due netd is failing to work..

[2016-07-01 17:01] XePeleato commented on #1
@hak86 Are We talking about Lollipop or Marshmallow?

[2016-07-01 17:15] ghost commented on #1
at the moment lollipop, mm downloads, in progress.

[2016-07-01 18:39] XePeleato commented on #1
@hak86 Not really, I didn't even touched the framework at Lollipop

[2016-07-01 21:33] ghost commented on #1
so with a correct blobs will boot and this drivers like gatekeeper.hi6210sft.so was use on emui 4.0, right? i am trying your tree right now, once booted will try my modified ril .java and see if will work.

[2016-07-02 09:48] XePeleato commented on #1
@hak86 My tree can be useful as a start point but You'll have to tweak it a little bit

[2016-07-02 10:01] ghost commented on #1
@XePeleato yep i see, there was some libs are missed, i am sure it's not a problem with ramdisk, my own ramdisk is complete and worked with omni, in just 4 files. will report if got moved (still building).

[2016-07-26 08:28] speedsterno1 opened #10 "Cyanogenmod13_xda"
"Thread closed."   wtf

[2016-07-26 09:51] XePeleato commented on #10
It's interesting how inside a forum section full of people who break the rules, I am the only one who gets my thread closed. Anyhow, if my development threads are not welcome at xda, I'll just stop posting at all. Even better for me, less trash to read everyday.

[2016-07-26 12:12] #10 closed

[2016-08-02 12:13] gabrielepmattia commented on #3
I'm porting AOSP for Huawei Mate 7 and I managed to get the RIL working by decompiling the original framework and implementing needed functions, try this frameworks/opt/telephony https://github.com/mt7-dev/aosp_frameworks_opt_telephony

[2016-08-02 12:27] XePeleato commented on #3
@gabry3795 Cool! I'll check it out, it's nice to have a guy who understands Java by our side.

[2016-08-02 12:34] debbiche commented on #3
@gabry3795  That's really amazing! I will run a new MM build for the P8 with this to try it out!

[2016-08-02 12:41] gabrielepmattia commented on #3
@XePeleato @debbiche perfect! On Mate7 I can make calls, send and receive sms and 4G but carrier's APN is not set automatically so I have to set it manually to get the 4g internet connection working

[2016-08-02 13:46] XePeleato commented on #3
@gabry3795 Tried your files, it throws some Java errors, I'll look further into it

[2016-08-02 13:50] gabrielepmattia commented on #3
@XePeleato Post here your make log, maybe I can help! My tree is based on android-6.0.0_r1, which one do you build?

[2016-08-02 14:18] XePeleato commented on #3
Oh, I am at 6.0.1 http://pastebin.com/FzbubWrV
I'll try with 6.0.0, I'll also try by extracting the files from the P8 Lite framework.

[2016-08-02 14:41] gabrielepmattia commented on #3
It seems that the 8 errors are related only to different android versions and not to my edits.. worse luck I am obliged to build the 6.0 because of the proprietary blobs but now if you can build the 6.0 with my telephony framework you can try to apply my last 3 commits to the original 6.0.1 telephony framework.
As far as regards cyanogenmod I totally give up that project because proprietary libsur

[2016-08-02 14:47] XePeleato commented on #3
@gabry3795 I am building CM, you don't need surfaceflinger, at least not on the p8 lite. I'll look into it, thanks!

[2016-08-02 21:51] XePeleato commented on #3
By the way, I managed to fix it. I'll report the results later on.

[2016-08-08 09:37] martykan opened #11 "RIL working?"
Hi, did you get the RIL working with this: https://github.com/XePeleato/Hi6XXX_Telephony?
Do you have a test build?

[2016-08-08 10:20] XePeleato commented on #11
I have, but there's not any 'test build', I want to release a fully working rom, so there's no need to save a lot of backups and flash back and forth.

[2016-08-08 10:41] martykan commented on #11
Oh, that's awesome. I will build it myself then.

[2016-08-10 16:13] lukepaulkopera commented on #11
Hi I want to ask, what works in CM 13 for now, and what about RIL ? Thanks for all :)

[2016-08-10 17:33] XePeleato commented on #11
@kopr97 Almost nothing works in CM13, and it's very time consuming, RIL works in CM13, but I don't have time to make everything work in CM, you'll have a release soon, but it won't be Cyanogenmod.

[2016-08-10 22:30] Kinio263 commented on #11
So, if RIL is working then the most problem has been fixed and you need time to repair other things, But how many time you need?

[2016-08-10 23:20] XePeleato commented on #11
@Kinio263 It's not about the time I need (the same as before) but the time that I have now, I may keep working in CM13, but slowly. RIL works now but I need to work on another stuff that CM rejects, like the camera, or the Hwcomposer, maybe wifi. I'll setup my Jenkins instance to release nightlies in a week or so, but it's pretty unstable.

[2016-08-11 16:15] debbiche commented on #3
@XePeleato Did you get it to work on 6.0.1 or you used 6.0?

[2016-08-11 17:29] XePeleato commented on #3
@debbiche I used 6.0.1 but it shouldn't matter

[2016-08-11 17:44] Sn0wPaw commented on #3
Hey! I would like to ask is this new release stable enough to use every day? (Sure i know its nightly, but i owned a lot devices, if you know what i mean... ;) )

[2016-08-11 18:16] powerpaul17 commented on #3
More interestingly: what does it require, is there a boot image? Because I flashed it and it's stuck at the boot screen.

[2016-08-11 19:50] FelipeBR28 commented on #3
@powerpaul17 did you installed any gapps package? (It doesn't work for me neither :( )

[2016-08-11 20:24] XePeleato commented on #3
As you can see there, it's just a nightly, because I enabled my Jenkins instance to compile nightly builds, and whenever I reach a milestone, it's uploaded to github, this one was uploaded as a test, please don't intend to use it as a daily driver. I'll have a look about that, but here you have the boot.img : https://mega.nz/#!ZxwQ2I7K!6EERItMjNbli6aDm2KkaxZfU5iUi74HLaANyiUlYMlU

[2016-08-11 20:45] FelipeBR28 commented on #3
But...  it's 22 mb... is it flasheable? I mean, if I flash it, I will have CM?

[2016-08-11 20:49] XePeleato commented on #3
I'll quote myself "here you have the boot.img" I was answering to @powerpaul17 It's the ""fix"" to the black screen, or at least, that's my best guess, I can't try it at the moment.

[2016-08-11 20:53] FelipeBR28 commented on #3
@XePeleato Sorry for pissing you, but it stucks for me too, I'll have to flash it after installing the previous zip? Thanks.

[2016-08-11 21:01] XePeleato commented on #3
@FelipeBR28 After flashing the zip, you'll have to install that image via fastboot, `fastboot flash boot XXX.img`

[2016-08-11 21:02] Sn0wPaw commented on #3
Sorry, can you please link me the "tutorial" for flashing this ROM? I want to do it properly.... thanks

[2016-08-11 21:51] XePeleato commented on #3
@Sn0wPaw There's no tutorial because the rom was just uploaded to test if my build script worked, for any issue that you may have, please open a new one so We don't clog this one up.

[2016-08-11 22:42] powerpaul17 commented on #3
Thanks @XePeleato but even with your boot.img it is stuck at the boot screen. I hope it is not related to a changed vendor partition because I did an upgrade of the Huawei firmware. Can't access it through adb neither, so I can't provide more information now.

[2016-08-12 09:05] kopr97 opened #12 "CyanogenMod 13 Alpha release"
Hi I want to flash it with TWRP but i get Error Status 7. I tried to fix it but it did not. Help, thanks :)

[2016-08-12 09:21] powerpaul17 commented on #12
Have you wiped the data partition? It was necessary to do so first.

[2016-08-12 09:39] FelipeBR28 commented on #3
@XePeleato I flashed your .img after installing the zip. I left it all night long, and it stucks at "Android is starting. Starting apps." but I connected it to the computer and installed CM drivers.

[2016-08-12 09:47] lukepaulkopera commented on #12
now it works thanks :)

[2016-08-12 10:27] lukepaulkopera commented on #12
now it stuck on starting apps

[2016-08-12 10:39] XePeleato commented on #12
It has been proven that this release doesn't work, it doesn't surprise me much, I'll upload a new release today, should it work, the issue will be closed.

[2016-08-12 10:58] lukepaulkopera commented on #12
ok thanks :)

[2016-08-12 20:15] edskv commented on #3
Can someone give me link to download rom?

[2016-08-12 20:17] powerpaul17 commented on #3
You find it under Code/Releases but it does not work. It was just a build test from XePeleato.

[2016-08-12 20:20] edskv commented on #3
Oh right, forgot to check there, thank you :)

[2016-08-12 21:08] XePeleato commented on #3
Enough off topic, this is not Xda, this is a developer network

[2016-08-12 21:08] #3 closed

[2016-08-14 13:54] zenpro1 commented on #12
To flash this rom you have the official Android 6.0? or even just the official 5.0.1?
I tried to do the fash but gives me Error Status 7 although he made wipe cache / dalvik chache / system.
What do you suggest?

EDIT: Now it stuck on starting apps

[2016-08-14 14:49] XePeleato commented on #12
The rom DOESN'T work, you have been warned by EVERY comment here, I am removing it to prevent further damage.

[2016-08-14 14:49] #12 closed

[2016-08-14 16:09] zenpro1 commented on #12
Continue to develop the 13 cm on your own or close altogether?

2016-08-14 16:49 GMT+02:00 Eduardo Alonso notifications@github.com:

[2016-08-14 17:20] XePeleato commented on #12
I just removed the download

[2016-08-14 20:49] HeskiA commented on #11
So you are focusing more on AOSP? I think that you should drop cyanogen and focus more on AOSP because I don't see the need for cyanogenmod, considering additional problems that it makes compared to AOSP. All the tweaking that CM provides could be compensated with Xposed modules that would also work on AOSP.

[2016-09-07 22:04] noxifoxi commented on #3
@XePeleato  Are all of these bugs fixed?

[2016-09-07 22:15] XePeleato commented on #3
@NoxNebula No, it depends on the rom you are talking about but they are not fixed

[2016-09-07 22:40] noxifoxi commented on #3
@XePeleato oh ok, I was just wondering because the issue were closed.

Btw, I really love what you are doing here 👍

[2016-09-08 08:04] powerpaul17 commented on #3
He closed it because people keep asking for his ROM which is really annoying after some time.

[2016-09-18 10:18] zenpro1 commented on #12
_How_\* it is going to develop 14 cm for Huawei p8 lite and **when** will be
**released**? *
_I am *_interested*\* in **testing\* *it**.*

Thanks

Il 14 ago 2016 7:20 PM, "Eduardo Alonso" notifications@github.com ha
scritto:

I just removed the download

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
https://github.com/XePeleato/

[2016-09-18 10:32] XePeleato commented on #12
@raduvasile20 I don't know I don't have time so it will go slow.

[2016-09-18 11:33] powerpaul17 commented on #12
Is there something we can help you with? It seemed like it already worked and you solved the RIL problems.

[2016-09-18 11:56] XePeleato commented on #12
@powerpaul17 We are talking about CM 14. Of course, if you want to go download Android's source code and work on it, I'll accept your PRs.

[2016-09-18 12:47] powerpaul17 commented on #12
Oh ok, I thought about getting some release CM 12/13/14/whatever to be useful in a way that it boots and 3G/4G is working :)

[2016-12-19 13:03] theel0ja commented on #6
Just get 404.

![image](https://cloud.githubusercontent.com/assets/5832930/21313764/5371b3aa-c5fc-11e6-9112-1322169bc5f6.png)

[2016-12-19 13:04] theel0ja commented on #1
Some progress?